<header style="width: 100%">
  <style>
    .header {
      font-size: 20px;
      display: flex;
      justify-content: center;
      padding: 15px;
      align-self: center;
    }
    #align2 {
      margin-right: 200px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:focus {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
  </style>
  <div class="header">
    <div id="align2">
      <a href="http://3.37.188.22:3001/">메인화면</a>
    </div>
    {% if user and user.ref %}
    <div id="align1">
      <a href="http://3.37.188.22:3001/logout" id="align1">로그아웃</a>
    </div>
    {% else %}
    <div id="align1">
      <a href="http://3.37.188.22:3001/auth/kakao">로그인</a>
    </div>
    {% endif %}
  </div>
</header>
