<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>InvestForYourFriend</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/myroom.css" />
    <link rel="stylesheet" href="/sendmsg.css" />
    <style>
      body {
        height: 100vh;
        background-image: url('/background.png');
        font-family: 'Yeon Sung', cursive;
        width: 100%;
        margin: auto;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="wrapper">
        {% include "header.html" %} {% block content %} {% endblock %}
      </div>
    </div>

    <script></script>
    {% block script %} {% endblock %}
  </body>
</html>
