{% extends 'layout.html' %} {% block content %} {% if user and user.ref %}

<div class="subtitle">
  <text>{{user.nick}}님 통장에는 {{user.asset}}원이 있습니다.</text>
</div>
{% else %}
<div class="subtitle">
  <text>{{hostuser.nick}}님께 투자하고 메세지를 전달해보세요!</text>
</div>
{% endif %}
<div style="--swiper-navigation-color: #86826b" class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="slideimg" src="/openedpassbank1.png" />
    </div>
    <div class="swiper-slide">
      <img class="slideimg" src="/openedpassbank2.png" />
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

{% if user and user.ref %}
<a style="cursor: pointer" onclick="copytext()">
  <button class="button-56" role="button">
    <text> 내 계좌번호 복사하기 </text>
  </button>
  <!-- 내 저금통 주소 복사하기 -->
</a>
{% else %}

<a id="btn_godeposit" style="cursor: pointer" href="{{url}}">
  <img src="/godeposit.png" alt="세뱃돈 주기" />
</a>
{% endif %} {% endblock %} {% block script %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.mySwiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    centeredSlides: true,
  });
</script>
<script>
  function copytext() {
    const t = document.createElement('textarea');
    document.body.appendChild(t);
    url = window.document.location.href;
    t.value = url;
    t.select();
    document.execCommand('copy');
    document.body.removeChild(t);
    alert('복사되었습니다.');
  }
</script>
{% endblock %}
