{% extends 'layout.html' %} {% block content %} {% if user and user.ref %}

<div class="subtitle">
  <text>{{hostuser.nick}}님 통장에는 {{hostuser.asset}}원이 있습니다.</text>
</div>
{% else %}
<div class="subtitle">
  <text>{{hostuser.nick}}님께 투자하고 메세지를 전달해보세요!</text>
</div>
{% endif %}
<div class="carousel">
  <div style="--swiper-navigation-color: #86826b" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-wrap">
          <img class="slideimg" src="/openedpassbank1.png" />
          <div class="item-wrap">
            <div class="profile">
              <span class="item-name">
                <text>{{hostuser.nick}}</text>
              </span>
              <span class="item-asset">
                <text>{{hostuser.asset}}</text>
              </span>
              <span class="item-ref">
                <text>{{hostuser.ref}}</text>
              </span>
              <span class="item-date">
                <text>{{date}}</text>
              </span>
            </div>

            {% for item in msg %} {% if loop.index0 >= 0 and loop.index0 <= 6 %}
            <div class="item-list">
              <div class="item-no">
                <text>{{loop.index0+1}}</text>
              </div>
              <div class="item-sender">
                <text>{{item.sender}}</text>
              </div>
              <div class="item-deposit">
                <text>입금</text>
              </div>
              <div class="item-price">
                <text>{{item.Image.price}}</text>
              </div>
              <button class="myBtn_multi">Open Modal</button>
              <div
                class="number"
                style="display: none"
                value="{{item.textmsg}}"
              ></div>
            </div>
            {% if loop.index0==6 or loop.last %}
          </div>
        </div>
      </div>
      {% endif %} {% elif loop.index0 >=7 %} {% if loop.index0 % 14 == 7 %}
      <div class="swiper-slide">
        <div class="image-wrap">
          <img class="slideimg" src="/openedpassbank2.png" />
          <div class="item-wrap">
            {% endif %} {% if loop.index0 % 14 != 0 %}
            <div class="item-list2">
              <div class="item-no">
                <text>{{loop.index0+1}}</text>
              </div>
              <div class="item-sender">
                <text>{{item.sender}}</text>
              </div>
              <div class="item-deposit">
                <text>입금</text>
              </div>
              <div class="item-price">
                <text>{{item.Image.price}}</text>
              </div>
              <button class="myBtn_multi">Open Modal</button>
              <div
                class="number"
                style="display: none"
                value="{{item.textmsg}}"
              ></div>
            </div>

            {% elif loop.index0 % 14 == 0 %}
            <div class="item-list2" style="margin-top: 18%">
              <div class="item-no">
                <text>{{loop.index0+1}}</text>
              </div>
              <div class="item-sender">
                <text>{{item.sender}}</text>
              </div>
              <div class="item-deposit">
                <text>입금</text>
              </div>
              <div class="item-price">
                <text>{{item.Image.price}}</text>
              </div>

              <button class="myBtn_multi">Open Modal</button>
              <div
                class="number"
                style="display: none"
                value="{{item.textmsg}}"
              ></div>
            </div>
            {% endif %} {% if loop.index0 % 14 == 20 or loop.last%}
          </div>
        </div>
      </div>

      {% endif %} {% endif %} {% endfor %}
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<!-- The Modal -->
<div class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
  </div>
</div>

{% if user and user.ref %}
<a style="cursor: pointer" onclick="copytext()">
  <button class="button-56" role="button">
    <text> 내 계좌번호 복사하기 </text>
  </button>
  <!-- 내 저금통 주소 복사하기 -->
</a>
{% else %}

<a style="cursor: pointer" href="{{url}}">
  <button class="button-56" role="button">
    <text> 입금하러 가기 </text>
  </button>
</a>

{% endif %} {% endblock %} {% block script %}

<script>
  function copytext() {
    const t = document.createElement('textarea');
    document.body.appendChild(t);
    url = window.document.location.href;
    t.value = url;
    t.select();
    document.execCommand('copy');
    document.body.removeChild(t);
    alert('복사되었습니다.');
  }
</script>

<script>
  var modal_btn_multi = document.getElementsByClassName('myBtn_multi');

  // Get the <span> element that closes the modal
  var number_multi = document.getElementsByClassName('number');

  // When the user clicks the button, open the modal
  function setDataIndex() {
    for (i = 0; i < modal_btn_multi.length; i++) {
      modal_btn_multi[i].setAttribute('data-index', i);
      number_multi[i].setAttribute('data-index', i);
    }
  }

  for (i = 0; i < modal_btn_multi.length; i++) {
    modal_btn_multi[i].onclick = function () {
      var ElementIndex = this.getAttribute('data-index');
      //modalparent[ElementIndex].style.display = 'block';
      document.getElementsByClassName('modal')[0].style.display = 'block';
      let str = number_multi[ElementIndex].getAttribute('value');

      let temp = document.createElement('div');
      temp.setAttribute('id', 'closesoon');
      temp.innerHTML = str;

      let modalparent = document.getElementsByClassName('modal-content')[0];
      modalparent.appendChild(temp);
    };
  }

  window.onload = function () {
    setDataIndex();
  };

  window.onclick = function (event) {
    if (event.target === document.getElementsByClassName('modal')[0]) {
      close();
    }
  };

  function close() {
    document.getElementsByClassName('modal')[0].style.display = 'none';

    let modalparent = document.getElementsByClassName('modal-content')[0];
    modalparent.removeChild(document.getElementById('closesoon'));
  }
  document.querySelector('.close').addEventListener('click', close);
</script>
<script></script>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.mySwiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    centeredSlides: true,
  });
</script>
{% endblock %}
