{% extends 'layout.html' %} {% block content %} {% if user and user.ref %}

<div class="subtitle">
  <text>{{hostuser.nick}}님 통장에는 {{hostuser.asset}}원이 있습니다.</text>
</div>
{% else %}
<div class="subtitle">
  <text>{{hostuser.nick}}님께 투자하고 메세지를 전달해보세요!</text>
</div>
{% endif %}
<div class="carousel">
  <div style="--swiper-navigation-color: #86826b" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-wrap">
          <img class="slideimg" src="/openedpassbank1.png" />
          <div class="item-wrap">
            <div class="profile">
              <span class="item-name">
                <text>{{hostuser.nick}}</text>
              </span>
              <span class="item-asset">
                <text>{{hostuser.asset}}</text>
              </span>
              <span class="item-ref">
                <text>{{hostuser.ref}}</text>
              </span>
              <span class="item-date">
                <text>{{date}}</text>
              </span>
            </div>

            <div class="item-list">
              <div class="item-no">
                <text>1</text>
              </div>
              <div class="item-sender">
                <text></text>
              </div>
              <div class="item-deposit">
                <text>입금</text>
              </div>
              <div class="item-price">
                <text>100,000</text>
              </div>
              <div class="item-memo">
                <button id="show">메세지확인</button>
              </div>
            </div>
            <div class="item-list">
              <div class="item-no">
                <text>2</text>
              </div>
              <div class="item-sender">
                <text>양여름</text>
              </div>
              <div class="item-deposit">
                <text>입금</text>
              </div>
              <div class="item-price">
                <text>100,000</text>
              </div>
              <div class="item-memo">
                <text>안</text>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <img class="slideimg" src="/openedpassbank2.png" />
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="background">
  <div class="window">
    <div class="popup">
      <div id="close"></div>
      <div class="memo-content">
        내용내용내용내용내용내 용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내
        용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내
        용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내
        용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내
        용내용내용내용내용내용내용내용내용내용내용내용내용
      </div>
    </div>
  </div>
</div>
{% if user and user.ref %}
<a style="cursor: pointer" onclick="copytext()">
  <button class="button-56" role="button">
    <text> 내 계좌번호 복사하기 </text>
  </button>
  <!-- 내 저금통 주소 복사하기 -->
</a>
{% else %}

<a style="cursor: pointer" href="{{url}}">
  <button class="button-56" role="button">
    <text> 입금하러 가기 </text>
  </button>
</a>

{% endif %} {% endblock %} {% block script %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".mySwiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    centeredSlides: true,
  });
</script>
<script>
  function copytext() {
    const t = document.createElement("textarea");
    document.body.appendChild(t);
    url = window.document.location.href;
    t.value = url;
    t.select();
    document.execCommand("copy");
    document.body.removeChild(t);
    alert("복사되었습니다.");
  }
</script>

<script>
  function show() {
    document.querySelector(".background").className = "background show";
  }

  function close() {
    document.querySelector(".background").className = "background";
  }

  document.querySelector("#show").addEventListener("click", show);
  document.querySelector("#close").addEventListener("click", close);

  window.addEventListener("click", (e) => {
    e.target.classList.contains("window") ? close() : false;
  });
</script>
<script>
  //   swiper-slide > image_wrap > slideimg, item-wrap
  // //일단 첫페이지 프로필은 구현되어있음
  // item-list에 appendchild

  // item-no
  // item-sender
  // item-deposit
  // item-price
  // item-memo

  var newDIV = document.createElement("div");
  newDiv.setAttribute("class", "item-list");

  //부모 변수, 첫 페이지 밑부분 추가
  const parent = document.getElementByClass("item-wrap");
  parent.appendChild(newDiv);
</script>
{% endblock %}
