/*main.html*/
div {
  text-align: center;
}
#maintitle {
  border-bottom: 12px solid #f0d330;
  padding: 0 0 0 0.2em;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.subtitle {
  text-align: center;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.kakaologin {
  width: 180px;
}
#app,
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper {
  overflow-y: auto;
  width: 100%;
  align-items: center;
  min-width: 320px;
  max-width: 720px;
}
#app {
  height: 100%;
  justify-content: center;
  place-items: center;
}
