/*main.html*/
div {
  text-align: center;
}
#maintitle {
  border-bottom: 12px solid #f0d330;
  padding: 0 0 0 0.2em;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.subtitle {
  text-align: center;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.kakaologin {
  width: 180px;
}
#app,
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper {
  overflow-y: auto;
  width: 100%;
  align-items: center;
}
#app {
  height: 100%;
  justify-content: center;
  place-items: center;
}

/*myroom.html*/

.swiper {
  width: 400px;
  height: 507px;
  margin: 20px 0;
}

.swiper-slide {
  text-align: center;
}

.slideimg {
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-wrap .img {
  display: block;
  height: 100%;
}
.item-wrap {
  position: absolute;
  padding: 10px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.image-wrap .profile {
  position: relative;
  top: 10%;
  color: #000;
  font-size: 23px;
  text-align: left;
  height: 170px;
  display: flex;
  flex-direction: column;
}
.image-wrap .item-list {
  position: relative;
  display: flex;
  left: 12px;
  top: 26%;
  color: #000;
  font-size: 16px;
  text-align: left;
  height: 23px;
}
.image-wrap .item-list .item {
  position: relative;
  justify-content: center;
  place-items: center;
}
.item-no {
  position: relative;
  left: 7px;
}
.item-sender {
  position: relative;
  left: 26px;
}
.item-deposit {
  left: 95px;
  position: relative;
}
.item-price {
  left: 105px;
  position: relative;
}
.item-memo {
  left: 170px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  text-align: left;
}

.item-name {
  top: 12px;
  left: 15%;
  position: relative;
}
.item-asset {
  top: 21px;
  left: 22%;
  position: relative;
}
.item-ref {
  top: 30px;
  left: 95px;
  position: relative;
}
.item-date {
  top: 42px;
  left: 133px;
  position: relative;
}

.button-56 {
  align-items: center;
  background-color: #ffe885;
  border: 2px solid #555347;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: "Yeon Sung", cursive;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #86826b;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffe885;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
