/*myroom.html*/

.swiper {
  width: 400px;
  height: 507px;
  margin: 20px 0;
}

.swiper-slide {
  text-align: center;
}

.slideimg {
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.image-wrap .img {
  display: block;
  height: 100%;
}
.item-wrap {
  position: absolute;
  padding: 10px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.image-wrap .profile {
  position: relative;
  top: 10%;
  color: #000;
  font-size: 23px;
  text-align: left;
  height: 170px;
  display: flex;
  flex-direction: column;
}
.image-wrap .item-list {
  position: relative;
  display: flex;
  left: 12px;
  top: 26%;
  color: #000;
  font-size: 16px;
  text-align: left;
  height: 23px;
}
.image-wrap .item-list2 {
  position: relative;
  display: flex;
  left: 12px;
  top: 13%;
  color: #000;
  font-size: 16px;
  text-align: left;
  height: 23px;
}

.image-wrap .item-list .item {
  position: relative;
  justify-content: center;
  place-items: center;
}
.item-no {
  position: relative;
  left: 7px;
}
.item-sender {
  position: relative;
  left: 26px;
}
.item-deposit {
  left: 95px;
  position: relative;
}
.item-price {
  left: 105px;
  position: relative;
}
.item-memo {
  left: 170px;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  text-align: left;
}

.item-name {
  top: 12px;
  left: 15%;
  position: relative;
}
.item-asset {
  top: 21px;
  left: 22%;
  position: relative;
}
.item-ref {
  top: 30px;
  left: 95px;
  position: relative;
}
.item-date {
  top: 42px;
  left: 133px;
  position: relative;
}

/* 버튼 */
.button-56 {
  align-items: center;
  background-color: #ffe885;
  border: 2px solid #555347;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: 'Yeon Sung', cursive;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #86826b;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffe885;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/*모달 창*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh;
  margin-left: calc(-50vw + 50%);
  margin-top: calc(-50vh + 50%); */
  background-color: rgba(0, 0, 0, 0.3);
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/memopad.png');
  background-size: cover;
  max-width: 500px;
  max-height: 500px;
  min-height: 400px;
  width: 80%;
  height: 50%;
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.memo-content {
  position: absolute;
  top: 20%;
  height: 73%;
  margin: 0 30px 0 30px;
  font-size: 22px;
  overflow: auto;
}

#close {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}
#close:hover {
  opacity: 1;
}
#close:before,
#close:after {
  position: absolute;

  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}
